[submodule "WP2/simulators/EpiSim.jl"]
	path = CREXDATA System Components/Simulators/Simulators for the Health Emergency Use Case/Simulator for Epidemiology Scenario/EpiSim.jl
	url = https://github.com/Epi-Sim/EpiSim.jl
	branch = main
[submodule "WP2/use-cases/health-crisis/episim-emews"]
	path = CREXDATA Use Case Scenarios/Health Emergency Use Case/Workflows/episim-emews
	url = https://github.com/Epi-Sim/episim-emews
	branch = main
[submodule "WP2/use-cases/health-crisis/episim-rl"]
	path = CREXDATA Use Case Scenarios/Health Emergency Use Case/Workflows/episim-rl
	url = https://github.com/Epi-Sim/episim-rl
	branch = main
[submodule "WP2/simulators/MMCACovid19Vac.jl"]
	path = CREXDATA System Components/Simulators/Simulators for the Health Emergency Use Case/Simulator for Epidemiology Scenario/MMCACovid19Vac.jl
	url = https://github.com/Epi-Sim/MMCACovid19Vac.jl
	branch = main
[submodule "WP2/simulators/MMCAcovid19.jl"]
	path = CREXDATA System Components/Simulators/Simulators for the Health Emergency Use Case/Simulator for Epidemiology Scenario/MMCAcovid19.jl
	url = https://github.com/Epi-Sim/MMCAcovid19.jl
	branch = master
[submodule "WP2/use-cases/health-crisis/episim-models"]
	path = CREXDATA Use Case Scenarios/Health Emergency Use Case/Workflows/episim-models
	url = https://github.com/Epi-Sim/episim-models/
	branch = main
[submodule "CREXDATA System Components/odm_kafka_bridge (DRZ)"]
	path = CREXDATA System Components/odm_kafka_bridge (DRZ)
	url = https://github.com/rettungsrobotik/odm_kafka_bridge
